---
import '../styles/global.scss';
---

<footer>
    <p>© 2024</p>
    <div class="footer_links">
        {/* <a href="#">Discord</a> */}
        <a href="https://github.com/CiviCraft-Development/changelog-site" target="_blank">GitHub</a>
    </div>
</footer>